.customer-info {
    background: #fff;
    width: 100%;
    padding: 10px 15px;
}
.edit-sales-form {
    .u-form-item textarea{
        min-width: 600px;
        min-height: 40px;
        resize: none;
        border: 1px solid #bdbdbd;
        padding: 3px;
    }
}
.common-panel {
    background: #fff;
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    .table-list {
        margin: 0;
    }
}
.sales-notice {
    .edit-body {
        margin-top: 10px;
    }
    .u-form-item {
        min-height: unset;
        position: relative;
        padding: 0 10px;
        .mast {
            color: red;
            position: absolute;
            left: 90px;
            line-height: 30px;
        }
        .u-label {
            min-width: 90px;
            display: inline-block;
        }
        .time+div {
            display: inline-block;
            min-width: 200px !important;
        }
        .form-item {
            display: inline-block;
            min-width: 200px !important;
            .u-form-control {
                width: 100%;
            }
        }
        span.error {
            margin-left: 90px;
            color: red;
            display: block;
        }
    }
    .u-form-control {
        // width: auto;
    }
    .calendar-picker {
        display: inline-block;
        input {
            width: 100%;
        }
    }
    
}
.form-handler-aria {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    button {
        margin: 0 2px;
    }
    .btn-handler, .btn-sales-create {
        background: #1E7BE2;
        color: #fff;
    }
    .is-btn-show {
        display: none;
    }
    
    .btn-sales-create-disable {
        background: #ccc;
        color: #fff;
    }
}
