{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": true,
        "regenerator": true
      }
    ],
    [
      "react-intl",
      {
        "messagesDir": "./i18n-messages"
      }
    ],
    ["react-hot-loader/babel"]
  ]
}