.example{
    .edit-panel{
        .u-form-item{
            .u-label{
                min-width: 100px;
            }
            .error{
                margin-left: 100px;
                color: red;
                display: block;
            }
        }
        .btn-group{
            text-align: right;
        }
    }
    .split{
        height: 20px;
    }
}