.role-edit{
    .head-btn{
        display: inline-block;
        float: right;  
        .head-save{
            background: #1E7BE2;
            color:#fff;
            margin-left: 15px;
        }  
    }
    .u-label{
        display: inline-block;
    }
    .u-form-item {
        min-height: unset;
        display: inline-block;
        .mast{
            color: red;
            margin-right: 5px;
        }
        .u-form-control {
            width: auto;
        }
        textarea{
            resize: none;
        }
    }
    .edit-body{
        background: #fff;
        padding-bottom: 30px;
        margin-top: 10px;
        >div{
            margin-top: 30px;
        }
        .u-col-lg-1{
            text-align: right;
            height: 30px;
            line-height: 30px;
        }
        .u-label{
            min-width: 75px;
        }
        .error{
            display: block;
            margin-left: 10px;
            color: red;
            margin-top: 5px;
        }
        .u-form-control,textarea{
            min-width: 500px;
        }
        textarea{
            min-height: 200px;
            resize: none;
            border: 1px solid #bdbdbd;
            margin-left: 10px;
        }
    }
}