.search-panel .search-panel-btn{
    text-align: right;
    padding: 10px 0;
    .reset-btn{
        background: #ECEFF1;
        color: #424242;
        margin-right: 15px;
    }
    .submit-btn{
        background: #1E7BE2;
        color: #fff;
    }
}