
.table-list {
    margin-bottom: 15px;
   
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    
    .u-table-title {
        text-align: left;
        padding-left: 0px;
    }
    .u-table-footer {
        text-align: center;
        .u-pagination {
            display: inline-block;
        }
    }
}
.u-table{
    .u-table-body{
        tbody{
            tr{
                td:nth-of-type(3){
                    color: #1E7BE2;
                    cursor: pointer;
                }
            }
        }
        .operation-btn{
            .u-button{
                background:none;
                color: #1E7BE2;
            }
            .del-btn{
                background: #1E7BE2;
                color: #fff;
            }
        }
    }
}