.order-delivery-wrap {
    .table-op-span-btn {
        color: #3f88de;
        cursor: pointer;
        margin-right: 18px;
    }
    .table-op-btn {
        min-width: 60px;
    }
    .u-table-title {
        text-align: right;
    }
}